.header-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.calendar-title{
    margin-right: 100px;
}

.header-left,
.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#next:hover,
#prev:hover,
#today:hover,
#month:hover,
#week:hover,
#day:hover,
#events:hover{
    background-color: #1e2b37;
}

.fc .fc-event-main .fc-event-title {
    padding: 0.3rem;
    display: block;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    font-size: 0.7rem;
    font-family: sans-serif;
    background-color:#0F9D58;
}


