.fc .fc-toolbar-title{
    margin-left: 240px;
}

.fc-direction-ltr .fc-button-group > .fc-button{
    text-transform:capitalize;
}

@media screen and (min-width : 360px) and (max-width : 500px) {

    .fc.fc-media-screen{
        margin-top: 80px;
    }

    .fc-col-header-cell-cushion{
        font-size: 12px;
    }

    .fc-daygrid-day-top{
        font-size: 10px;
    }

    .header-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }


    .calendar-title-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
    }

    .calendar-title{
        position: absolute;
        font-size: 17px;
        color: #1e2b37;
    }

    .header-left{
        display: flex;
        justify-content: space-evenly;
        position: absolute;

        top: 46px;
        left: 120px;
    }

    .filter-date{
        right: 24px;
    }   

    #today-icon{
        left: 240px;
        margin-right: 0px;
    }

    #options-btn{
        position: absolute;
        top: 48px;
        left: 20px;
        min-width: 86px;
        text-transform: capitalize;
    }
    
}