@media screen and (max-width : 600px) {

    .fc-col-header-cell-cushion{
        font-size: 12px;
    }

    .fc-daygrid-day-top{
        font-size: 10px;
    }

    .header-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-left{
        display: flex;
        margin-left: -14px;
        gap: 4px;
    }

    .calendar-title{
        /* margin-left: -200px; */
        font-size: 14px;
    }

}